<!DOCTYPE html>
<html>
<head>
	<title>chatbot tuling</title>
	{% load static %}
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
	<div class="mainleft">
		<span class="left-title">ROBOTS</span>
		<ul class="robots-ul">
			<li class="robots-li">nana</li>
		</ul>
		<div class="footer">
			<a class="footer-link" href="">ABOUT</a>
			<a class="footer-link" href="">HELP</a>
			<a class="footer-link" href="">CONTACT</a>
		</div>
	</div>
	<div class="main">
		<div class="maincontent">
			
		</div>
	</div>
</body>
<style type="text/css">
	
</style>
<script type="text/javascript">

</script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</html>